@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 283 10% 20%;
    --card: 0 0% 100%;
    --card-foreground: 283 10% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 283 10% 20%;
    --primary: 283 71% 31%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 283 10% 20%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 283 5% 55%;
    --accent: 340 82% 52%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 340 82% 52%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 13%; /* #212121 */
    --foreground: 0 0% 98%;
    --card: 0 0% 17%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 13%;
    --popover-foreground: 0 0% 98%;
    --primary: 283 71% 31%; /* #4A148C */
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 24%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 24%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 340 82% 52%; /* #E91E63 */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 24%;
    --input: 0 0% 24%;
    --ring: 340 82% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
